---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.about.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "About Me" }}</h2>
      {%- for about in site.about reversed -%}
        {{ about.introduction }}
      {%- endfor -%}
    <br/>
    <br/>
  {%- endif -%}

  {%- if site.awards.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Professional Experience" }}</h2>
    {%- for pe in site.professional_experiences reversed -%}
      <b>{{ pe.organization }}</b><br/>
      <p style="text-align:left; margin-top: 0; margin-bottom: 0">
        <i>{{ pe.role1 }}</i>
        <span style="float:right;">
          {{ pe.role1_tenure }}
        </span>
      </p>

      {% assign role2 = pe.role2 | strip_newlines %}
      {%- if role2 != "" -%}
        <p style="text-align:left; margin-top: 0; margin-bottom: 0">
          <i>{{ pe.role2 }}</i>
          <span style="float:right;">
            {{ pe.role2_tenure }}
          </span>
        </p>
      {%- endif -%}

      {% assign role3 = pe.role3 | strip_newlines %}
      {%- if role3 != "" -%}
      <p style="text-align:left; margin-top: 0; margin-bottom: 0">
        <i>{{ pe.role3 }}</i>
        <span style="float:right;">
          {{ pe.role3_tenure }}
        </span>
      </p>
      {%- endif -%}
      {{ pe.contributions }}
    {%- endfor -%}
  {%- endif -%}

  {%- if site.awards.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Awards" }}</h2>
    <ul>
      {%- for award in site.awards reversed -%}
      <li>{{ award.description }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.skills.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Skills" }}</h2>
    <ul>
      {%- for skill in site.skills -%}
        <li><b>{{ skill.key }}</b>: {{ skill.value }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.publications.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Publications" }}</h2>
    <ol>
      {%- for publication in site.publications reversed -%}
      <li>
          <a href="{{ publication.access_url | relative_url }}">
            {{ publication.title | escape }}
          </a><br/>
          <b>Venue</b>: {{ publication.venue | escape }} <br/>
          <b>Authors</b>: {{ publication.authors | escape }}
      </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.patents.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Patents" }}</h2>
    <ol>
      {%- for patent in site.patents reversed -%}
      <li>
        <a href="{{ patent.google_patents_url | relative_url }}">
          {{ patent.title | escape }}
        </a><br/>
        <b>Inventors</b>: {{ patent.collaborators }}
      </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.philanthropic_activities.size > 0 -%}
    <h2 class="post-list-heading">{{ "Philanthropic Activities" }}</h2>
    {%- for pa in site.philanthropic_activities reversed -%}
      {% assign link = pa.link | strip_newlines %}
      <p style="text-align:left;">
        <b>{{ pa.role }}</b>,
          {%- if link != "" -%}
            <a href="{{ pa.link }}"> <b>{{ pa.organization | escape }}</b></a>
          {% else %}
            <b>{{ pa.organization }}</b>
          {%- endif -%}
          <span style="float:right;">
              {{ pa.tenure }}
          </span>
      </p>
      <ul>
        <li>{{ pa.activity }} </li>
      </ul>
    {%- endfor -%}
  {%- endif -%}

  {%- if site.education.size > 0 -%}
    <h2 class="post-list-heading">{{ "Education" }}</h2>
    {%- for education in site.education reversed -%}
      <p style="text-align:left;">
        <b>
          {{ education.educational_institution }}
        </b><br/>
           {{ education.program }}
        <span style="float:right;">
          {{ education.graduation_month_year }}
        </span>
      </p>
    {%- endfor -%}
  {%- endif -%}
</div>
