---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">{{ "About Me" }}</h2>
  I am Rohan R. Arora, a Senior Software Engineer at <a href="https://research.ibm.com/">IBM Research</a>.
  I joined IBM Research in 2016 after graduating from the University of Illinois at Urbana-Champaign with a Masters in Electrical and Computer Engineering.
  I started off as a founding engineer and later co-led the effort on developing augmented and virtual reality-based solutions for the enterprise at IBM.
  Since 2021, I have been working at the intersection of Machine Learning and IT operations particularly in the areas of incident management and resource optimization.

  <h2 class="post-list-heading">{{ "Skills" }}</h2>
  <b>Programming Languages:</b> Python | Intermediate proficiency in SQL<br/>
  <b>Not So Recent Programming Languages:</b> Java<br/>
  <b>Frameworks:</b> LangChain, Django (primarily Django REST Framework), Angular (Typescript)<br/>
  <b>Cloud Platforms:</b> IBM Cloud (Bluemix), Amazon Web Services (AWS)<br/>
  <b>Tools and Technologies:</b> Docker, Podman, Kubernetes, OpenShift, Git, Vim, LaTeX<br/>

  {%- if site.publications.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Publications" }}</h2>
    <ol>
      {%- for publication in site.publications reversed -%}
      <li>
          <a class="post-link" href="{{ publication.access_url | relative_url }}">
            {{ publication.title | escape }}
          </a>
          <b>Venue</b>: {{ publication.venue | escape }} <br/>
          <b>Authors</b>: {{ publication.authors | escape }}
      </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.patents.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Patents" }}</h2>
    <ol>
      {%- for patent in site.patents reversed -%}
      <li>
        <a class="post-link" href="{{ patent.google_patents_url | relative_url }}">
          {{ patent.title | escape }}
        </a>
        <b>Inventors</b>: {{ patent.collaborators }}
      </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.extra-curricular_activities.size > 0 -%}
    <h2 class="post-list-heading">{{ "Extra-curricular Activities" }}</h2>
    {%- for extra-curricular_activities in site.extra-curricular_activities reversed -%}
      {% assign link = extra-curricular_activities.link | strip_newlines %}
      <p style="text-align:left;">
        <b>{{ extra-curricular_activities.role }}</b>,
          {%- if link != "" -%}
            <a href="{{ extra-curricular_activities.link }}"> <b>{{ extra-curricular_activities.organization | escape }}</b></a>
          {% else %}
            <b>{{ extra-curricular_activities.organization }}</b>
          {%- endif -%}
        <span style="float:right;">
              {{ extra-curricular_activities.tenure }}
          </span>
      </p>
      <ul>
        <li>{{ extra-curricular_activities.activity }} </li>
      </ul>
    {%- endfor -%}
  {%- endif -%}

  {%- if site.education.size > 0 -%}
    <h2 class="post-list-heading">{{ "Education" }}</h2>
    {%- for education in site.education reversed -%}
      <p style="text-align:left;">
        <b>
          {{ education.educational_institution }}
        </b><br/>
           {{ education.program }}
        <span style="float:right;">
          {{ education.graduation_month_year }}
        </span>
      </p>
    {%- endfor -%}
  {%- endif -%}
</div>
