---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.about.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "About Me" }}</h2>
    <ol>
      {%- for about in site.about reversed -%}
        {{ about.introduction }}
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.awards.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Awards" }}</h2>
    <ul>
      {%- for award in site.awards reversed -%}
      <li>{{ award.description }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.skills.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Skills" }}</h2>
    <ul>
      {%- for skill in site.skills -%}
        <li><b>{{ skill.key }}</b>: {{ skill.value }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.publications.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Publications" }}</h2>
    <ol>
      {%- for publication in site.publications reversed -%}
      <li>
          <a href="{{ publication.access_url | relative_url }}">
            {{ publication.title | escape }}
          </a><br/>
          <b>Venue</b>: {{ publication.venue | escape }} <br/>
          <b>Authors</b>: {{ publication.authors | escape }}
      </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.patents.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Patents" }}</h2>
    <ol>
      {%- for patent in site.patents reversed -%}
      <li>
        <a href="{{ patent.google_patents_url | relative_url }}">
          {{ patent.title | escape }}
        </a><br/>
        <b>Inventors</b>: {{ patent.collaborators }}
      </li>
      {%- endfor -%}
    </ol>
  {%- endif -%}

  {%- if site.extra-curricular_activities.size > 0 -%}
    <h2 class="post-list-heading">{{ "Extra-curricular Activities" }}</h2>
    {%- for extra-curricular_activities in site.extra-curricular_activities reversed -%}
      {% assign link = extra-curricular_activities.link | strip_newlines %}
      <p style="text-align:left;">
        <b>{{ extra-curricular_activities.role }}</b>,
          {%- if link != "" -%}
            <a href="{{ extra-curricular_activities.link }}"> <b>{{ extra-curricular_activities.organization | escape }}</b></a>
          {% else %}
            <b>{{ extra-curricular_activities.organization }}</b>
          {%- endif -%}
        <span style="float:right;">
              {{ extra-curricular_activities.tenure }}
          </span>
      </p>
      <ul>
        <li>{{ extra-curricular_activities.activity }} </li>
      </ul>
    {%- endfor -%}
  {%- endif -%}

  {%- if site.education.size > 0 -%}
    <h2 class="post-list-heading">{{ "Education" }}</h2>
    {%- for education in site.education reversed -%}
      <p style="text-align:left;">
        <b>
          {{ education.educational_institution }}
        </b><br/>
           {{ education.program }}
        <span style="float:right;">
          {{ education.graduation_month_year }}
        </span>
      </p>
    {%- endfor -%}
  {%- endif -%}
</div>
